# Order Service
PROJECT_NAME="Order Service"
DEBUG=false

# Postgres
POSTGRES_HOST=order-postgres
POSTGRES_PORT=5432
ORDER_POSTGRES_DB=orders
POSTGRES_APP_USER=orders_app
POSTGRES_APP_PASSWORD=<set-in-.env>
POSTGRES_MIGRATE_USER=orders_owner
POSTGRES_MIGRATE_PASSWORD=<set-in-.env>

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
ALLOW_EMPTY_PASSWORD=yes

# JWT Auth
AUTHJWT_SECRET_KEY=secret

# Jaeger Tracing
JAEGER_TRACE=true
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
