# Auth
AUTH_PROJECT_NAME=Auth
DEBUG=false
PG_DSN=postgresql+asyncpg://app:***@auth-postgres:5432/auth
SECRET_KEY=secret
REDIS_HOST=redis
REDIS_PORT=6379
JAEGER_TRACE=True
JAEGER_AGENT_HOST=jaeger
JAEGER_AGENT_PORT=6831
REQUEST_LIMIT_PER_MINUTE=20
GOOGLE_CLIENT_ID=988087297671-npgm4ulsconqcd679v3hrsb2a6anqlc8.apps.googleusercontent.com
GOOGLE_REDIRECT_URI=http://localhost/api/v1/google/auth_return
GOOGLE_CLIENT_SECRET=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
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=***

# Postgres
POSTGRES_USER=app
POSTGRES_PASSWORD=***
POSTGRES_DB=movies_database
AUTH_POSTGRES_DB=auth
NOTIFICATION_POSTGRES_DB=notification

# Redis
ALLOW_EMPTY_PASSWORD=yes
